<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Try on</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
      body{
        color: #6e6d7a;
        /* margin: 5% auto; */
        background-color: #f8f9fa;
      }
      .clickable:hover {
        box-shadow: 0px 12px 31px 1px rgba(0,0,0,0.26);;
      }
      .inventory {        height: 100px;}
      .target{height: 50px;}
      .item {
        border-radius: 5px;
        margin: 5px;

      }
      .item.active{
        border: 1px solid #007bff;
      }
      #result {
        border-radius: 10px;
      }
      h5 {
        margin-top: 2rem;
      }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <h1 class="text-center">Try on</h1>

    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col-8">
          <div class="btn-group" rule="group" aria-label="Basic example">
        <button v-on:click="set_sex('women')"  v-bind:class="{ 'btn-primary': activeSex === 'women',  'bg-white': activeSex != 'women'}" type="button" class="btn">Women</button>
        <button v-on:click="set_sex('men')" v-bind:class="{ 'btn-primary': activeSex === 'men' ,  'bg-white': activeSex != 'men' }" type="button" class="btn">Men</button>
      </div>
            <div class="btn-group" rule="group" aria-label="Basic example">
              <button v-on:click="set_category('top')"  v-bind:class="{ 'btn-primary': activeCategory === 'top',  'bg-white': activeCategory != 'top'}" type="button" class="btn">Tops</button>
              <button v-on:click="set_category('bottom')" v-bind:class="{ 'btn-primary': activeCategory === 'bottom' ,  'bg-white': activeCategory != 'bottom' }" type="button" class="btn">Bottoms</button>
            </div>
            <h5>{{this.activeCategory.toUpperCase() + 'S'}}</h5>
            <ul>
              <query-item
                v-for="(query, index) in queries"
                v-bind:query="query"
                v-bind:id="index"
                v-bind:key="query.id"
      
              ></query-item>
            </ul>
            <h5>Pair with</h5>
            <ul>
              <pair-item
                v-for="(pairable, index) in queries[activeQuery].pairwith"
                v-bind:pairable="pairable"
                v-bind:id="pairable.id"
              ></pair-item>
            </ul>
            <h5>Similar</h5>
            <ul id=similar-list>
              <div></div>
              <img class='item inventory' v-for="similar in similars" v-bind:src="similar"/>
            </ul>
          </div>
          <div class="col-4">
            <h5>Targets</h5>
          <ul>
            <target-item
              v-for="target in targets"
              v-bind:target="target"
              v-bind:key="target.id"
            ></target-item>
          </ul>
          <h5>Result</h5>
          <div>
              <img id=result v-bind:src="trial">
          </div>
      </div>

          </div>
        </div>
      </div>


      
      

          

      <script>
Vue.component('query-item', {
  props: ['query', 'id'],
  template: `<img class="item inventory clickable" v-bind:class="{ 'active': this.id === this.$parent.activeQuery}" v-on:click="set_query" v-bind:src="query.img_url"/>`,
  methods: { set_query: function(event){ app.activeQuery = this.id ; app.set_similar(this.id);  app.activePariable = this.query.pairwith[0].id ; }}
})

Vue.component('pair-item', {
  props: ['pairable', 'id'],
  template: `<img class="item inventory clickable" v-bind:class="{ 'active': this.pairable.id === this.$parent.activePariable}" v-on:click="set_query" v-bind:src="pairable.url"/>`,
  methods: { set_query: function(event){ app.activePariable = this.id ; }}
})


Vue.component('target-item', {
  props: ['target'],
  template: `<img class="item target clickable" v-bind:class="{ 'active': this.target.id === this.$parent.activeTarget}" v-on:click="set_target" v-bind:src="target.img_url"/>`,
  methods: { set_target: function(event){ app.activeTarget = this.target.id  }}
})



var app = new Vue({
  el: '#app',
  data: {
    queries:[],
    similars:[],
    tops: [],
    bottoms: [],
    targets: [],
    activeQuery: 0,
    activePariable: '',
    activeCategory: 'top',
    activeSex: 'women',
    activeTarget: "1"
  },
  methods: {
      get_targets: function(){
        axios
      .get('/' + this.activeSex +'/targets/')
      .then(response => (this.targets = response.data))
      },
      get_tryon: function(){
        axios
      .get('/' + this.activeSex +'/try/')
      .then(response => (this.trial = response.data))
      },
      get_queries: function(){
        axios.get('/' + this.activeSex + '/' + this.activeCategory+ 's/')
        .then(function(response){
        this.app.queries = response.data;
        this.app.activeQuery=0;
        this.app.similars=this.app.queries[this.app.activeQuery].similars;
        this.app.activePariable = this.app.queries[0].pairwith[0].id
        });

      },
      
      set_similar: function(index){
        
        this.similars = this.queries[index].similars;
      },      
      set_category: function(category){
        this.activeCategory = category;
        this.get_queries();
      },
      set_sex: function(sex){
        this.activeSex = sex;
        this.get_queries();
        this.get_targets();
      },
  },
  computed: {
    trial: function () {
      if (this.activeCategory === 'top'){
        var top_id = this.queries[this.activeQuery].id;
        var bottom_id = this.activePariable;
      } else {
        var top_id = this.activePariable;
        var bottom_id = this.queries[this.activeQuery].id;
      }
      return '/' + this.activeSex + '/try/?top='+ top_id + '&bottom='  + bottom_id + '&target=' + this.activeTarget
    }
  },
  beforeMount(){
    this.get_queries();
    this.get_targets();
    
    
    
  },

})
    </script>
</body>
</html>