<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Try on</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
      body{
        color: #6e6d7a;
        margin: 5% 10%;
        background-color: #f8f9fa;
      }
      .item:hover {
        box-shadow: 0px 12px 31px 1px rgba(0,0,0,0.26);;
      }
      .item {
        border-radius: 5px;
        margin: 5px;
        height: 50px;
      }
      .item.active{
        border: 1px solid #007bff;
      }
      #result {
        border-radius: 10px;
      }
      h5 {
        margin-top: 2rem;
      }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <h1>Try on</h1>
    <div id="app">
      <div class="btn-group" rule="group" aria-label="Basic example">
        <button v-on:click="set_sex('women')"  v-bind:class="{ 'btn-primary': activeSex === 'women',  'bg-white': activeSex != 'women'}" type="button" class="btn">Women</button>
        <button v-on:click="set_sex('men')" v-bind:class="{ 'btn-primary': activeSex === 'men' ,  'bg-white': activeSex != 'men' }" type="button" class="btn">Men</button>
      </div>
      <h5>Tops</h5>
        <ul>
          <top-item
            v-for="top in tops"
            v-bind:top="top"
            v-bind:key="top.id"
          ></top-item>
        </ul>
        <h5>Bottoms</h5>
        <ul>
            <bottom-item
              v-for="bottom in bottoms"
              v-bind:bottom="bottom"
              v-bind:key="bottom.id"
            ></bottom-item>
          </ul>
          <h5>Targets</h5>
          <ul>
            <target-item
              v-for="target in targets"
              v-bind:target="target"
              v-bind:key="target.id"
            ></target-item>
          </ul>
          <h5>Result</h5>
          <div>
              <img style="margin-left:40px" id=result v-bind:src="trial">
          </div>
      </div>

      <script>
Vue.component('top-item', {
  props: ['top'],
  template: `<img class=item v-bind:class="{ 'active': this.top.id === this.$parent.activeTop}" v-on:click="set_top" v-bind:src="top.img_url"/>`,
  methods: { set_top: function(event){ app.activeTop = this.top.id  }}
})

Vue.component('bottom-item', {
  props: ['bottom'],
  template: `<img class=item v-bind:class="{ 'active': this.bottom.id === this.$parent.activeBottom}" v-on:click="set_bottom" v-bind:src="bottom.img_url"/>`,
  methods: { set_bottom: function(event){ app.activeBottom = this.bottom.id  }}
})

Vue.component('target-item', {
  props: ['target'],
  template: `<img class=item v-bind:class="{ 'active': this.target.id === this.$parent.activeTarget}" v-on:click="set_target" v-bind:src="target.img_url"/>`,
  methods: { set_target: function(event){ app.activeTarget = this.target.id  }}
})

var app = new Vue({
  el: '#app',
  data: {
    tops: [],
    bottoms: [],
    targets: [],
    activeSex: 'women',
    activeTop: "1",
    activeBottom: "1",
    activeTarget: "1"
  },
  methods: {
      get_tops: function(){
       axios
      .get('/' + this.activeSex + '/tops/')
      .then(response => (this.tops = response.data))
  }
      ,
      get_bottoms: function(){
        axios
      .get('/' + this.activeSex + '/bottoms/')
      .then(response => (this.bottoms = response.data))
      },
      get_targets: function(){
        axios
      .get('/' + this.activeSex +'/targets/')
      .then(response => (this.targets = response.data))
      },
      get_tryon: function(){
        axios
      .get('/' + this.activeSex +'/try/')
      .then(response => (this.trial = response.data))
      },
      set_sex: function(sex){
        this.activeSex = sex;
        this.get_tops();
        this.get_bottoms();
        this.get_targets();
        this.activeTop = this.tops[0]['id']
        this.activeBottom = this.bottoms[0]['id']
        this.activeTarget = this.targets[0]['id']
        
      },
  },
  computed: {
    trial: function () {
      return '/' + this.activeSex + '/try/?top='+ this.activeTop + '&bottom='  + this.activeBottom + '&target=' + this.activeTarget
    }
  },
  beforeMount(){
    this.get_tops();
    this.get_bottoms();
    this.get_targets();
  }

})
    </script>
</body>
</html>