@font-face {
	font-family: "AvenirMedium";
	font-style: normal;
	src: url("../../assets/fonts/Avenir-Medium.ttf");
	font-display: swap;
}

@font-face {
	font-family: "AvenirBlack";
	font-style: normal;
	src: url("../../assets/fonts/Avenir-Black.otf");
	font-display: swap;
}


.dummyHoverTop, .dummyHoverBottom{
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
}

.dummyHoverTop{
    top: 0;
}

.dummyHoverBottom{
    bottom: 0;
}

.detailPopupTop{
    position: absolute;
    width: 136px;
    height: auto;
    border-radius: 4px;
    box-shadow: 4px 10px 12px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    z-index: 5;
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
    background-color:#fff;
    display: none;
    padding: 5%;
}

.detailPopupTop::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 99%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    z-index: 10;
    border-color: transparent transparent transparent #fff;
  }

  #detailPopupBottom{
    top: 20%;
  }

.popupPrice, .popupName{
    font-size: 12px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000000;
    text-decoration: underline;
    font-family: "AvenirBlack";
    margin: 0 0 5%;
}

.popupPrice{
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    font-family: "AvenirMedium";
    margin: 5% 0 0;
}