@font-face {
	font-family: "AvenirMedium";
	font-style: normal;
	src: url("../../../assets/fonts/Avenir-Medium.ttf");
	font-display: swap;
}

@font-face {
	font-family: "AvenirBlack";
	font-style: normal;
	src: url("../../../assets/fonts/Avenir-Black.otf");
	font-display: swap;
}

::-webkit-scrollbar {
	width: 0px; /* remove scrollbar space */
	background: transparent; /* optional: just make scrollbar invisible */
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.flex {
	display: flex;
}

.col {
	flex-direction: column;
}

.wrap {
	flex-wrap: wrap;
}

.align-c {
	align-items: center;
}

.justify-c {
	justify-content: center;
}

ul {
	padding: 0;
	list-style: none;
}

.tagTick {
	margin-right: 5px;
	display: none;
	position: absolute;
	left: 5%;
}

.TS-images-section {
	min-height: 90vh;
}

.grid,
.tagGrid {
	opacity: 0;
}

.TS-images-section,
.TS-tags-section {
	margin: 0 0 1% 0;
	/* width: 75%; */
	padding: 0 0 3% 0;
}
.TS-images-section:hover {
	cursor: pointer;
}
.TS-tags-section-header {
	margin-bottom: 1%;
}

.paddingZero {
	padding: 0;
}

.boldFont {
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	font-family: "AvenirBlack";
}

.mediumFont {
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	font-family: "AvenirMedium";
}

.sizeSelectedClass {
	border: 1px solid #000;
}

.trendHeader-searchbar-wrapper input {
	font-size: 12px;
	font-weight: 900;
	color: #e7f0f2;
}

.TS-tags-container,
.TS-Activetags-container {
	font-size: 12px;
	font-weight: 900;
	/* width: 14vw; */
	justify-content: center;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	font-family: "AvenirBlack";
	background: #e0e0e0;
	cursor: pointer;
	display: flex;
	align-items: center;
	color: #000;
	font-weight: 900;
	border-radius: 100px;
	margin: 0.5vw 0.5vw;
	margin-left: 0;
	padding: 0.5vw 2vw;
}

.TS-Activetags-container {
	background: #fd5f5a;
	color: #fff;
}

.TS-images {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.PD-try-button {
	background-image: url(../../../assets/icons/Try-on-Icon.svg);
	background-repeat: no-repeat;
	background-position: 25% 50%;
	width: 80px;
	height: 80px;
	background-color: #fd5f5a;
	border-radius: 50%;
	position: fixed;
	right: 0;
	top: calc(10vw);
	transform: translateX(50%);
	cursor: pointer;
}

.PD-try-button-close {
	width: 80px;
	height: 80px;
	background-color: #f7f7f7;
	/* box-shadow: 4px 10px 12px 0 rgba(0, 0, 0, 0.08); */
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 6.5vw;
	transform: translateX(-50%);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.PD-try-button-close img {
	width: 30%;
	height: 30%;
	transform: translateX(-50%);
}

.PD-try-container {
	display: flex;
	flex-flow: column wrap;
	width: 381px;
	height: 93vh;
	/* box-shadow: 4px 10px 12px 0 rgba(0, 0, 0, 0.08); */
	/* -webkit-box-shadow: -4px -2px 6px 0px rgba(255, 15, NaN, 1);
	-moz-box-shadow: -4px -2px 6px 0px rgba(255, 15, NaN, 1);
	box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.08); */
	box-shadow: 5px 10px 16px 0 rgba(0, 0, 0, 0.35);
	background-color: #f7f7f7;
	position: fixed;
	right: 0;
	transform: translateX(115%);
	top: 3.5vw;
	z-index: 3;
	transition: all ease 0.5s;
	padding: 1% 2%;
	box-sizing: border-box;
}
.fullPD-try-container {
	display: flex;
	flex-flow: column wrap;
	width: 381px;
	height: 100vh;
	/* box-shadow: 4px 10px 12px 0 rgba(0, 0, 0, 0.08); */
	/* -webkit-box-shadow: -4px -2px 6px 0px rgba(255, 15, NaN, 1);
	-moz-box-shadow: -4px -2px 6px 0px rgba(255, 15, NaN, 1);
	box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.08); */
	box-shadow: 5px 10px 16px 0 rgba(0, 0, 0, 0.35);
	background-color: #f7f7f7;
	position: fixed;
	right: 0;
	transform: translateX(115%);
	top: 0;
	z-index: 3;
	transition: all ease 0.5s;
	padding: 1% 2%;
	box-sizing: border-box;
}

.Virtual-Fitting-Room-Header {
	font-size: 24px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	color: #363a41;
	font-family: "AvenirBlack";
}
.ADD-TRY-ITEM-TO-CART:hover {
	cursor: pointer;
}
.ADD-TRY-ITEM-TO-CART {
	width: 100%;
	margin: auto;
	height: 48px;
	font-size: 12px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	background-color: #fd5f5a;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	font-family: "AvenirMedium";
}

.TS-images-details {
	height: 20%;
	width: 100%;
	padding: 5%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	object-fit: cover;
}

.TS-images-price,
.TS-images-name {
	margin: 1% 0;
	white-space: normal;
	font-size: 12px;
	color: #000;
	font-weight: 900;
	text-transform: lowercase;
	font-family: "AvenirBlack";
	font-stretch: normal;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-transform: capitalize;
}

.TS-images-price {
	font-size: 16px;
	font-family: "AvenirMedium";
	font-weight: 500;
}

.TS-images-section-outer-wrapper {
	position: relative;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	height: 25vw;
	width: 30%;
	margin: 0;
	margin-bottom: 3%;
	margin-right: 3%;
	border: 1px solid lightgrey;
	cursor: pointer;
}
.TS-images-tryon-button {
	position: absolute;
	border: none;
	background-image: url('../../../assets/icons/Product_Tag.svg');
	width: 5vw;
	height: 5vh;
	background-repeat: no-repeat;
	left: calc(100% - 32%);
	bottom: calc(100% - 72%);
}

.TS-images-section-outer-wrapper-pairs {
	height: 20vw;
	width: 19vw;
	background-color: #fff;
}

.TS-outer-container {
	box-sizing: border-box;
	display: flex;
	justify-content: start;
	width: fit-content;
	transition: all ease 0.5s;
}

.PD-carausal-container {
	display: flex;
	transform: translateX(75vw);
}

.PD-carausal-container div {
	width: 40px;
	height: 48px;
	background-color: #fd5f5a;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	margin-right: 1vw;
	font-weight: 900;
	cursor: pointer;
}

.PD-title {
	font-size: 36px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.11;
	letter-spacing: normal;
	color: #363a41;
	font-family: "AvenirBlack";
}

.PD-price-before,
.PD-price-after {
	font-size: 12px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #c3dee4;
	font-family: "AvenirMedium";
}

.trendsetter-clothing-section-tab-outer {
	margin: 1% 0;
}

.TS-tags-section .TS-tags-section-header {
	font-size: 18px;
	font-weight: 900;
	font-family: "AvenirBlack";
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}

.trendsetter-clothing-section-tab-inner span {
	font-size: 12px;
	font-weight: 900;
	font-family: "AvenirBlack";
	color: #000;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}

.PS-sectionTitle {
	align-self: center;
	font-family: "AvenirBlack";
	font-size: 24px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	color: #363a41 !important;
}

.PD-price-after {
	font-size: 24px;
	font-weight: 900;
	color: #363a41;
}

.PD-color-title,
.PD-size-title {
	font-size: 12px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: rgba(0, 0, 0, 0.55);
	font-family: "AvenirMedium";
}

.PD-color-tile-container,
.PD-size-tile-container {
	padding: 0;
	margin: 1vw 0;
	list-style: none;
	display: flex;
	cursor: pointer;
}

.PD-color-tile-container li {
	width: 30px;
	height: 30px;
	background-color: #232026;
	margin-right: 1vw;
	border-radius: 50%;
}

.PD-size-tile-container li {
	width: 47px;
	height: 32px;
	opacity: 0.8;
	border-radius: 4px;
	margin-right: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #efefef;
	font-size: 12px;
	font-weight: 500;
	font-family: "AvenirMedium";
}

.TRY-ON-VIRTUALLY,
.ADD-TO-CART {
	width: 177px;
	height: 48px;
	font-size: 12px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
	background-color: #fff;
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1vw 0;
	cursor: pointer;
	font-family: "AvenirMedium";
}

.ADD-TO-CART {
	color: #ffffff;
	background-color: #000;
}

.navbar-wrapper {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	align-items: center;
}
.navbar-ul-wrapper ul {
	margin: 0;
	margin: 1rem 0 0 0;
}

.recom_icon,
.similar_icon {
	border: none;
	border-radius: 4px;
	background-color: rgba(254, 175, 172, 0.5);
	width: 3rem;
	height: 3rem;
	background-position: center;
	background-repeat: no-repeat;
}
.recom_icon {
	background-image: url("../../../assets/icons/Complete_the_Look.svg");
}
.similar_icon {
	background-image: url("../../../assets/icons/Similar-Items-Icon.svg");
}
.Virtual-Fitting-Room-Header-tab {
	/* height: 3rem; */
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
}
.Virtual-Fitting-Room-Header-tab li:first-child {
	margin-left: 0;
}
.Virtual-Fitting-Room-Header-tab li:hover {
	cursor: pointer;
}
.Virtual-Fitting-Room-Header-tab li {
	cursor: pointer;
	margin-left: 6%;
	padding: 2% 0;
}

.Virtual-Fitting-Room-Header-tab-sel {
	font-family: AvenirBlack;
	font-size: 12px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #f63135;
	text-overflow: clip;
	border-bottom: 1px solid #f63135;
}
.Virtual-Fitting-Room-Header-tab-unsel {
	font-family: AvenirBlack;
	font-size: 12px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #b6b6b6;
	text-overflow: clip;
}

.gender-tab-wrapper label:hover,
input[type="checkbox"]:hover {
	cursor: pointer;
}
.gender-tab-wrapper {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}

.gender-tab-wrapper label {
	margin: auto;
	padding-left: 9%;
}
input[type="checkbox"] {
	visibility: hidden;
	width: 18px;
	height: 18px;
}
.custom-checkbox {
	border: 1px solid black;
	border-radius: 10%;
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
}

.gender-tab-wrapper input:checked ~ .custom-checkbox {
	background-color: black;
}
.custom-checkbox:after {
	content: "";
	position: absolute;
	display: none;
}

.gender-tab-wrapper input:checked ~ .custom-checkbox:after {
	display: block;
}
.gender-tab-wrapper .custom-checkbox:after {
	left: 5px;
	bottom: 4px;
	width: 6px;
	height: 12px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.saved-outfits-wrapper {
	display: flex;
	justify-content: flex-start;
	align-self: flex-start;
	flex-flow: row wrap;
}

.saved-outfits-inner-wrapper {
	flex: 0 1 48%;
	margin: 0 2% 2% 0;
}

.saved-outfits-inner-wrapper img {
	position: relative;
	z-index: 3;
	border: 1px solid lightgray;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* -------------------------------------------MEDIA QUERIES------------------------------- */
@media (max-width: 1024px) {
	.TS-images-tryon-button {
		position: absolute;
		border: none;
		background-image: url('../../../assets/icons/Product_Tag.svg');
		width: 8vw;
		height: 5vh;
		background-repeat: no-repeat;
		left: calc(100% - 45%);
		bottom: calc(100% - 72%);
	}
}
