$spacemounts: (1, 2, 3, 4, 5);

@each $space in $spacemounts {
	.m-#{$space} {
		margin: #{$space}rem;
	}
	.my#{$space} {
		margin: #{$space}rem 0;
	}
	.p-#{$space} {
		padding: #{$space}rem;
	}
	.py#{$space} {
		padding: #{$space}rem 0;
	}
}
